<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jetski</title>
    <link href="/static/jetski.png" rel="icon" type="image/png" />
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/metisMenu.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/dataTables.responsive.css" rel="stylesheet">

    <meta name="author" content="Tiemen#0107">
    <meta property="og:site_name" content="Jetski" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Jetski" />
    <meta property="og:description" content="Jetski is a moderation and utilitarian bot." />
    <meta property="og:url" content="https://jetski.cf/" />
    <meta property="og:image" content="/static/jetski.png" />
  </head>
  <body>
    {% block realbody %}
    <div id="wrapper">
      {% if g.user %}
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'navbar.html' %}
      </nav>
      {% endif %}

      <div id="page-wrapper">
        {% block body %}
        {% endblock %}
      </div>

    </div>
    <!-- /#wrapper -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/metisMenu.min.js"></script>
    <script src="/static/app.js"></script>

    <script src="/static/jquery.dataTables.min.js"></script>
    <script src="/static/dataTables.bootstrap.min.js"></script>
    <script src="/static/dataTables.responsive.js"></script>
    {% block scripts %}
    {% endblock %}
    {% endblock %}
  </body>
</html>
